# Import Library

In [1]:
!pip install pymysql
!pip install xmltodict

Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: xmltodict in /usr/local/lib/python3.7/dist-packages (0.12.0)

In [2]:
import json
import urllib
import pandas as pd
from urllib.parse import urlencode, quote_plus, unquote, quote
from urllib.request import urlopen
from pandas.io.json import json_normalize
from sqlalchemy import create_engine
import pymysql
import datetime as dt
import sklearn
from sklearn.preprocessing import LabelEncoder
import json
import xmltodict

pymysql.install_as_MySQLdb()
import MySQLdb

pd.options.display.max_colwidth = 100

# Dataframe make function

In [3]:
service_key = 'SE0dHlfRrFs9F7Z8K6y6qmYRqrAFPtIrJnMdsrJLTMm1y5JvTVKl5Z8JpG4%2BBcvj%2Bv9kS1d1%2B8gQBmmxcMqMXg%3D%3D'

## Election Code dataframe make function

In [4]:
def get_election_df(pg_num = 1, num_row = 100):
  election_base_url = 'http://apis.data.go.kr/9760000/CommonCodeService/getCommonSgCodeList'

  page_no = str(pg_num)
  num_of_rows = str(num_row)                                  # maximum 34 datas

  queryParams = '?' + urlencode({
      quote_plus('pageNo') : page_no,
      quote_plus('numOfRows') : num_of_rows,
      quote_plus('resultType') : 'json',
      quote_plus('ServiceKey') : service_key 
  })

  API_election_code_url = election_base_url + unquote(queryParams)

  # Election code load

  '''
  < election code >
  (0)대표선거명               
  (1)대통령,(2)국회의원,(3)시도지사,(4)구시군장,(5)시도의원,(6)구시군의회의원
  (7)국회의원비례대표,(8)광역의원비례대표,(9)기초의원비례대표,(10)교육의원,(11)교육감
  '''

  response = urlopen(API_election_code_url)
  json_str = response.read()

  json_object = json.loads(json_str)

  body = [json_object['getCommonSgCodeList']['item']]

  election_code_data = pd.json_normalize(json_object['getCommonSgCodeList']['item'])
  
  return election_code_data

## Candidate Info dataframe make function

In [5]:
def get_candidate_df(sgId, sgTypecode, num_of_row=1000):
  candidate_base_url = 'http://apis.data.go.kr/9760000/PofelcddInfoInqireService/getPofelcddRegistSttusInfoInqire'

  queryParams = '?' + urlencode({
      quote_plus('numOfRows') : str(num_of_row),        # optional
      quote_plus('sgId') : str(sgId),                   # load from election code
      quote_plus('sgTypecode') : str(sgTypecode),       # load from election code
      quote_plus('sggName') : '',                       # optional
      quote_plus('sdName') : '',                        # optional
      quote_plus('resultType') : 'json',                # must set JSON
      quote_plus('ServiceKey') : service_key
  })

  API_candidate_url = candidate_base_url + unquote(queryParams)

  # candidate info load

  response = urlopen(API_candidate_url)
  json_str = response.read().decode('utf-8')

  json_object = json.loads(json_str)

  body = [json_object['getPofelcddRegistSttusInfoInqire']['item']]

  candidate_data = pd.json_normalize(json_object['getPofelcddRegistSttusInfoInqire']['item'])

  candidate_data.rename(columns={'HUBOID' : 'cnddtId', 'JD_NAME': 'partyName'}, inplace=True)

  return candidate_data

## Elction Promise dataframe make function

In [6]:
def get_promise_df(sgId, sgTypecode, hudoId):
  # 선거종료 후 데이터가 갱신되는 시점부터는 당선인의 공약 정보만 제공

  promise_base_url = 'http://apis.data.go.kr/9760000/ElecPrmsInfoInqireService/getCnddtElecPrmsInfoInqire'

  queryParams = '?' + urlencode({
      quote_plus('sgId') : str(sgId),                   # load from election code
      quote_plus('sgTypecode') : str(sgTypecode),       # load from election code
      quote_plus('cnddtId') : str(hudoId),              # parameter name is cnddtId but DB column name is HUBOID
      quote_plus('resultType') : 'json',                # must set JSON
      quote_plus('ServiceKey') : service_key
  })

  API_promise_url = promise_base_url + unquote(queryParams)

  # promise load

  response = urlopen(API_promise_url)
  json_str = response.read().decode('utf-8')

  json_object = json.loads(json_str)

  body = [json_object['getCnddtElecPrmsInfoInqire']['item']]

  promise_data = pd.json_normalize(json_object['getCnddtElecPrmsInfoInqire']['item'])

  return promise_data

## Polls Info dataframe make function

### Pre polls info dataframe make function

In [7]:
def get_prepoll_df(sgId, sdName):
  prepoll_base_url = 'http://apis.data.go.kr/9760000/PolplcInfoInqireService2/getPrePolplcOtlnmapTrnsportInfoInqire'

  queryParams = '?' + urlencode({
      quote_plus('sgId') : str(sgId),                   # load from election code
      quote_plus('sdName') : quote(sdName),             # must input parameter, query parma is korean, so wrap the quote
      quote_plus('resultType') : 'json',                # must set JSON
      quote_plus('ServiceKey') : service_key
  })

  API_prepoll_url = prepoll_base_url + unquote(queryParams)

  response = urlopen(API_prepoll_url)
  json_str = response.read().decode('utf-8')

  json_object = json.loads(json_str)

  body = [json_object['getPrePolplcOtlnmapTrnsportInfoInqire']['item']]

  prepoll_data = pd.json_normalize(json_object['getPrePolplcOtlnmapTrnsportInfoInqire']['item'])
  return prepoll_data

### Main polls info dataframe make function

In [8]:
def get_mainpoll_df(sgId, sdName):
  poll_base_url = 'http://apis.data.go.kr/9760000/PolplcInfoInqireService2/getPolplcOtlnmapTrnsportInfoInqire'

  queryParams = '?' + urlencode({
      quote_plus('sgId') : str(sgId),                   # load from election code
      quote_plus('sdName') : quote(sdName),             # must input parameter, query parma is korean, so wrap the quote
      quote_plus('resultType') : 'json',                # must set JSON
      quote_plus('ServiceKey') : service_key
  })

  API_poll_url = poll_base_url + unquote(queryParams)

  response = urlopen(API_poll_url)
  json_str = response.read().decode('utf-8')

  json_object = json.loads(json_str)

  body = [json_object['getPolplcOtlnmapTrnsportInfoInqire']['item']]

  poll_data = pd.json_normalize(json_object['getPolplcOtlnmapTrnsportInfoInqire']['item'])
  return poll_data

## Politician dataframe make function

### Current Politician

In [9]:
def get_curr_politician_mem(numOfRows=1000):
  curr_politician_base_url = 'http://apis.data.go.kr/9710000/NationalAssemblyInfoService/getMemberCurrStateList'

  queryParams = '?' + urlencode({
      quote_plus('numOfRows') : numOfRows,
      quote_plus('resultType') : 'json',   
      quote_plus('ServiceKey') : service_key
  })

  API_curr_politician_url = curr_politician_base_url + unquote(queryParams)

  response = urlopen(API_curr_politician_url)
  json_str = response.read().decode('utf-8')
  json_str = json.dumps(xmltodict.parse(json_str), indent=4)

  json_object = json.loads(json_str)

  curr_politician_data = pd.json_normalize(json_object['response']['body']['items']['item'])

  return curr_politician_data

In [10]:
get_curr_politician_mem().head()

    deptCd empNm         engNm  ...   num     origNm reeleGbnNm
0  9771230   강기윤    KANG GIYUN  ...  2685  경남 창원시성산구         재선
1  9771142   강대식   KANG DAESIK  ...  3050     대구 동구을         초선
2  9771174   강득구   KANG DEUKGU  ...  3085  경기 안양시만안구         초선
3  9771233   강민국   KANG MINKUK  ...  3091    경남 진주시을         초선
4  9771283   강민정  KANG MINJUNG  ...  3019       비례대표         초선

[5 rows x 8 columns]

### Member detail

In [12]:
def get_politician_detail(dept_code, numOfRows=1000):
  politician_detail_base_url = 'http://apis.data.go.kr/9710000/NationalAssemblyInfoService/getMemberDetailInfoList'

  queryParams = '?' + urlencode({
      quote_plus('numOfRows') : numOfRows,
      quote_plus('dept_cd') : dept_code,
      quote_plus('resultType') : 'json',   
      quote_plus('ServiceKey') : service_key
  })

  API_politician_detail_url = politician_detail_base_url + unquote(queryParams)

  response = urlopen(API_politician_detail_url)
  json_str = response.read().decode('utf-8')
  json_str = json.dumps(xmltodict.parse(json_str), indent=4)

  json_object = json.loads(json_str)

  politician_detail_data = pd.json_normalize(json_object['response']['body']['item'])

  return politician_detail_data

In [13]:
get_politician_detail(9771106)

                assemEmail     assemTel  ...   shrtNm     staff
0  nyleetogether@gmail.com  02-784-3866  ...  외교통일위원회  노창훈, 이제이

[1 rows x 16 columns]

# DataFrame load test

## Election code load

In [174]:
get_election_df().head()

  NUM     SG_ID      SG_NAME SG_TYPECODE SG_VOTEDATE
0   1  20160413  제20대 국회의원선거           0    20160413
1   2  20160413       국회의원선거           2    20160413
2   3  20160413    구·시·군의장선거           4    20160413
3   4  20160413    시·도의회의원선거           5    20160413
4   5  20160413  구·시·군의회의원선거           6    20160413

## Cadidate info load

In [ ]:
get_candidate_df(20210407, 3).head()

  NUM     SG_ID  ...                   CAREER2 STATUS
0   1  20210407  ...  (전) 17대,18대,19대,20대 국회의원     등록
1   2  20210407  ...              (전) 16대 국회의원     등록
2   3  20210407  ...                (현)국민의당 대표     사퇴
3   4  20210407  ...           (전)포이동 인연공부방 교사     등록
4   5  20210407  ...             (현)국가혁명당 명예대표     등록

[5 rows x 23 columns]

## Promise load

In [ ]:
# 당선인이 나온 후엔 당선인 공약만 확인 가능
data = get_promise_df(20210407, 3, 100138272)
data

  num      sgId sgTypecode  ... prmsRealmName10 prmsTitle10 prmmCont10
0   1  20210407          3  ...

[1 rows x 51 columns]

## Poll info load

### Pre poll info load

In [ ]:
get_prepoll_df(20210407, '서울특별시').head()

  NUM     SG_ID  ...                        ADDR FLOOR
0   1  20210407  ...    서울특별시 송파구 양재대로 925 (가락동)    3층
1   2  20210407  ...    서울특별시 송파구 중대로20길 6 (가락동)    2층
2   3  20210407  ...  서울특별시 송파구 송파대로28길 39 (가락동)    2층
3   4  20210407  ...    서울특별시 구로구 우마2길 35 (가리봉동)    1층
4   5  20210407  ...     서울특별시 금천구 가산로 129 (가산동)    2층

[5 rows x 10 columns]

### Main poll info load

In [ ]:
get_mainpoll_df(20210407, '서울특별시').head()

  NUM     SG_ID  ...                          ADDR FLOOR
0   1  20210407  ...       서울특별시 관악구 장군봉길 72 (봉천동)    1층
1   2  20210407  ...     서울특별시 관악구 관악로40길 39 (봉천동)    1층
2   3  20210407  ...      서울특별시 종로구 자하문로 105 (청운동)    2층
3   4  20210407  ...     서울특별시 용산구 청파로93길 27 (서계동)  3층이상
4   5  20210407  ...  서울특별시 서대문구 북아현로22길 38 (북아현동)    2층

[5 rows x 9 columns]

# Data Preprocessing

## election_code data preprocessing

In [59]:
def election_code_preprocessing():
  data = get_election_df()
  data = data.drop('NUM', axis=1)
  data.columns = ['sgId', 'sgName', 'sgTypecode', 'sgVotedate']
  election_code = data
  election_code = election_code.astype({'sgId':int, 'sgTypecode':int, 'sgName':str})
  election_code.set_index('sgId', inplace=True)

  return election_code

In [60]:
election_code = election_code_preprocessing()

In [ ]:
data = election_code.reset_index()

## Politician data preprocessing

In [26]:
def politician_preprocessing():
  # current politician data preprocessing
  curr_data_df = get_curr_politician_mem()
  curr_data = curr_data_df.drop(['engNm', 'hjNm', 'origNm', 'reeleGbnNm'], axis=1)
  curr_data.columns = ['deptCode', 'name', 'imageLink', 'num']

  # export dept_code for find detail politician
  dept_code = curr_data['deptCode'].unique().astype(int)

  # detail politician data preprocessing
  detail_df = pd.DataFrame()

  for deptCd in dept_code:
    detail_data = get_politician_detail(deptCd)
    detail_data['deptCode'] = deptCd
    detail_df = pd.concat([detail_df, detail_data], ignore_index=True)

  detail_data = detail_df.drop(['assemEmail','assemHomep','assemTel', 'electionNum', 'engNm', 'hjNm', 'reeleGbnNm', 'secretary', 'secretary2', 'shrtNm', 'staff', 'hbbyCd', 'examCd'], axis=1)
  detail_data.columns = ['birthday', 'name', 'memTitle', 'sggName' , 'partyName', 'deptCode']

  # column type match to database column
  curr_data = curr_data.astype({'deptCode':int})
  detail_data = detail_data.astype({'deptCode':int})

  # join the current politician and detail poloitician
  politician = pd.merge(curr_data, detail_data, how='left', on=['name', 'deptCode'])
  politician['age'] = dt.datetime.now().year - pd.to_datetime(politician['birthday']).dt.year - 1
  politician['birthday'] = pd.to_datetime(politician['birthday'], format='%Y-%m-%d')
  politician.set_index('deptCode', inplace=True)

  return politician

In [27]:
politician = politician_preprocessing()

## Candidate data preprocessing

In [48]:
def candidate_code_preprocessing():
  election_code = election_code_preprocessing()
  data = election_code.reset_index()  
  election_data = data[['sgId', 'sgTypecode']]

  candidate_df = pd.DataFrame()

  # concat all candidate df
  for i in range(len(election_data)):
    curr_id = election_data['sgId'][i]
    curr_code = election_data['sgTypecode'][i]
    curr_df = pd.DataFrame()

    if curr_code != 0:
      curr_df = get_candidate_df(curr_id, curr_code)
    
    candidate_df = pd.concat([candidate_df, curr_df], ignore_index=True)
  
  # candidate column change
  candidate = candidate_df.drop(['NUM', 'GIHO_SANGSE', 'HANJA_NAME', 'JOB_ID', 'EDU_ID', 'EDU', 'CAREER1', 'CAREER2', 'partyName', 'AGE'], axis=1)
  candidate.columns = ['sgId', 'sgTypecode', 'cnddtId', 'sggName', 'sdName', 'wiwName', 'giho', 'name', 'gender', 'birthday','address', 'job', 'status']

  # encoding data
  le = LabelEncoder()

  for category in ['gender', 'status']:
    candidate[category] = le.fit_transform(candidate[category])

  # giho null value
  candidate[candidate['giho'] == ''] = 1

  # type matchin to sql column type
  candidate = candidate.astype({'sgId':int, 'sgTypecode':int, 'cnddtId':int, 'gender':int, 'status':int, 'giho':int})
  candidate['birthday'] = pd.to_datetime(candidate['birthday'], format='%Y-%m-%d')
  candidate.set_index('cnddtId', inplace=True)

  return candidate

In [49]:
candidate = candidate_code_preprocessing()

## Polls data preprocessing

### pre_polls data preprocessing

In [64]:
def pre_poll_preprocessing():
  sdarr = candidate['sdName'].unique()
  datearr = election_code['sgVotedate'].unique()
  
  total = pd.DataFrame()
  for dt in datearr:
    for sd in sdarr:
      try:
        cur = get_prepoll_df(dt, sd)
        total = pd.concat([total, cur], ignore_index=True)
      except:
        print(sd, 'no propoll at', dt)
  
  total.drop(['NUM'], axis=1, inplace=True)
  total.columns = ['sgId', 'evPsName', 'sdName', 'wiwName', 'emdName', 'evOrder', 'placeName','address', 'floor']  
  total = total.astype({'sgId':int, 'evOrder':int})
  total.set_index('sgId', inplace=True)
  
  return total

In [66]:
pre_poll = pre_poll_preprocessing()
pre_poll.head()

전국 no propoll at 20160413
전국 no propoll at 20170509
전국 no propoll at 20180613
서울특별시 no propoll at 20190403
부산광역시 no propoll at 20190403
대구광역시 no propoll at 20190403
인천광역시 no propoll at 20190403
광주광역시 no propoll at 20190403
대전광역시 no propoll at 20190403
울산광역시 no propoll at 20190403
세종특별자치시 no propoll at 20190403
경기도 no propoll at 20190403
강원도 no propoll at 20190403
충청북도 no propoll at 20190403
충청남도 no propoll at 20190403
전라남도 no propoll at 20190403
제주특별자치도 no propoll at 20190403
전국 no propoll at 20190403
전국 no propoll at 20200415
대구광역시 no propoll at 20210407
인천광역시 no propoll at 20210407
광주광역시 no propoll at 20210407
대전광역시 no propoll at 20210407
세종특별자치시 no propoll at 20210407
강원도 no propoll at 20210407
경상북도 no propoll at 20210407
제주특별자치도 no propoll at 20210407
전국 no propoll at 20210407

              evPsName sdName  ...                      address floor
sgId                           ...
20160413      용신동사전투표소  서울특별시  ...  서울특별시 동대문구 천호대로27길 35 (용두동)    5층
20160413      제기동사전투표소  서울특별시  ...     서울특별시 동대문구 약령시로 71 (제기동)    4층
20160413      중림동사전투표소  서울특별시  ...     서울특별시 중구 서소문로6길 16 (중림동)    3층
20160413    금호1가동사전투표소  서울특별시  ...     서울특별시 성동구 행당로 15 (금호동1가)    4층
20160413  금호2·3가동사전투표소  서울특별시  ...   서울특별시 성동구 무수막18길 1 (금호동2가)    3층

[5 rows x 8 columns]

### main_polls data preprocessing

In [67]:
def main_poll_preprocessing():
  sdarr = candidate['sdName'].unique()
  datearr = election_code['sgVotedate'].unique()

  total = pd.DataFrame()
  for dt in datearr:
    for sd in sdarr:
      try:
        cur = get_mainpoll_df(dt, sd)
        total = pd.concat([total, cur], ignore_index=True)
      except:
        print(sd, 'no mainpoll at', dt)
      
  total.drop(['NUM'], axis=1, inplace=True)
  total.columns = ['sgId', 'PsName', 'sdName', 'wiwName', 'emdName', 'placeName','address', 'floor']  
  total = total.astype({'sgId':int})
  total.set_index('sgId', inplace=True)
  
  return total

In [68]:
main_poll = main_poll_preprocessing()

전국 no mainpoll at 20160413
전국 no mainpoll at 20170509
전국 no mainpoll at 20180613
서울특별시 no mainpoll at 20190403
부산광역시 no mainpoll at 20190403
대구광역시 no mainpoll at 20190403
인천광역시 no mainpoll at 20190403
광주광역시 no mainpoll at 20190403
대전광역시 no mainpoll at 20190403
울산광역시 no mainpoll at 20190403
세종특별자치시 no mainpoll at 20190403
경기도 no mainpoll at 20190403
강원도 no mainpoll at 20190403
충청북도 no mainpoll at 20190403
충청남도 no mainpoll at 20190403
전라남도 no mainpoll at 20190403
제주특별자치도 no mainpoll at 20190403
전국 no mainpoll at 20190403
전국 no mainpoll at 20200415
대구광역시 no mainpoll at 20210407
인천광역시 no mainpoll at 20210407
광주광역시 no mainpoll at 20210407
대전광역시 no mainpoll at 20210407
세종특별자치시 no mainpoll at 20210407
강원도 no mainpoll at 20210407
경상북도 no mainpoll at 20210407
제주특별자치도 no mainpoll at 20210407
전국 no mainpoll at 20210407

In [70]:
main_poll.head()

           PsName sdName  ...                    address floor
sgId                      ...
20160413  가락2동제1투  서울특별시  ...   서울특별시 송파구 중대로20길 6 (가락동)    1층
20160413  일원본동제1투  서울특별시  ...    서울특별시 강남구 광평로20길 7(수서동)    1층
20160413  일원1동제1투  서울특별시  ...  서울특별시 강남구 양재대로55길 14(일원동)    1층
20160413  일원2동제1투  서울특별시  ...     서울특별시 강남구 개포로 607(개포동)    1층
20160413   수서동제1투  서울특별시  ...   서울특별시 강남구 광평로 301-4(수서동)    2층

[5 rows x 7 columns]

# MySQL link to GCP

## GCP MySQL connection

In [42]:
host = '34.64.72.201'
user = 'root'
pw = 'root'
db = 'election'
port = 3306

try:
    conn = pymysql.connect(host=host, port=port, user=user, password=pw, db=db)
    engine = create_engine('mysql+mysqldb://'+user+':'+pw+'@'+host+':3306/'+db, encoding='utf-8')

except Exception as err:
    print('Connection Failed (Error msg : ' + str(err) + ')')
else:
    print('Connection  Success!')

Connection  Success!

In [43]:
connection = engine.connect()
connection

# Queries & data insert

## CREATE TABLE

In [ ]:
create_election_code = """CREATE TABLE election_code (  
    sgId INT NOT NULL,
    sgTypecode INT NOT NULL,
    sgName INT NOT NULL,
    sgVotedate TIMESTAMP NOT NULL,
    PRIMARY KEY (sgId, sgTypecode)
) default charset utf8;"""

In [ ]:
create_pre_polls = """CREATE TABLE pre_polls (  
    sgId INT NOT NULL,
    sdName VARCHAR(30) NOT NULL ,
    wiwName VARCHAR(30) NOT NULL ,
    emdName VARCHAR(50) NOT NULL ,
    evOrder INT NOT NULL ,
    evPsName VARCHAR(80) NOT NULL ,
    placeName VARCHAR(100) NOT NULL ,
    `address` VARCHAR(150) NOT NULL ,
    `floor` INT NOT NULL ,
    PRIMARY KEY(evPsName) ,
    FOREIGN KEY(sgId) REFERENCES election_code(sgId)
) default charset utf8;"""

In [ ]:
create_main_polls = """CREATE TABLE main_polls (  
    sgId INT NOT NULL,
    sdName VARCHAR(30) NOT NULL ,
    wiwName VARCHAR(30) NOT NULL ,
    emdName VARCHAR(50) NOT NULL ,
    PsName VARCHAR(80) NOT NULL ,
    placeName VARCHAR(100) NOT NULL ,
    `address` VARCHAR(150) NOT NULL ,
    `floor` INT NOT NULL ,
    PRIMARY KEY(PsName) ,
    FOREIGN KEY(sgId) REFERENCES election_code(sgId)
) default charset utf8;"""

In [ ]:
create_politician = """CREATE TABLE politician (
    num INT NOT NULL ,
    `name` VARCHAR(20) NOT NULL ,
    imageLink TEXT ,
    sggName VARCHAR(35) NOT NULL ,
    deptCode INT NOT NULL ,
    memTitle LONGTEXT ,
    birthday TIMESTAMP NOT NULL ,
    age INT NOT NULL ,
    PRIMARY KEY (num)
) default charset utf8;"""

In [ ]:
create_candidate = """CREATE TABLE candidate (
    cnddtId INT NOT NULL ,
    num INT NOT NULL ,
    sgId INT NOT NULL ,
    sgTypecode INT NOT NULL ,
    sggName VARCHAR(35) NOT NULL ,
    sdName VARCHAR(30) NOT NULL ,
    wiwName VARCHAR(30) NOT NULL ,
    giho INT NOT NULL ,
    `name` VARCHAR(20) NOT NULL ,
    gender TINYINT NOT NULL ,
    `address` VARCHAR(100) ,
    job VARCHAR(100) ,
    `status` TINYINT NOT NULL ,
    birthday TIMESTAMP NOT NULL ,
    PRIMARY KEY (cnddtId),
    FOREIGN KEY (num) REFERENCES politician (num),
    FOREIGN KEY (sgId, sgTypecode) REFERENCES election_code (sgId, sgTypecode)
) default charset utf8;"""

In [ ]:
create_promise = """CREATE TABLE promise (
    prmIdx INT AUTO_INCREMENT NOT NULL ,
    cnddtId INT NOT NULL ,
    prmOrd INT ,
    prmTitle VARCHAR(100) ,
    prmCont LONGTEXT,
    PRIMARY KEY (prmIdx),
    FOREIGN KEY (cnddtId) REFERENCES candidate (cnddtId)
);"""

## Data insert

### election_code insert

In [61]:
election_code.to_sql(name='election_code', con=engine, if_exists='append')

### Politician insert

In [156]:
politician.to_sql(name='politician', con=engine, if_exists='append')

### candidate insert

In [62]:
candidate.to_sql(name='candidate', con=engine, if_exists='append')

### pre_poll insert

In [ ]:
pre_poll.to_sql(name='pre_poll', con=engine, if_exists='append')

### main_poll insert

In [ ]:
main_poll.to_sql(name='main_poll', con=engine, if_exists='append')